@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/invitation-subset-0.woff2) format('woff2');
  unicode-range: U+21, U+26, U+28-29, U+2c, U+2e-3b, U+3f-5a, U+61-7a, U+b7, U+2013-2014, U+2018-2019, U+201c-201d, U+2026;
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/invitation-subset-1.woff2) format('woff2');
  unicode-range: U+21, U+26, U+28-29, U+2c, U+2e-3b, U+3f-5a, U+61-7a, U+b7, U+2013-2014, U+2018-2019, U+201c-201d, U+2026;
}
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/invitation-subset-2.woff2) format('woff2');
  unicode-range: U+21, U+26, U+28-29, U+2c, U+2e-3b, U+3f-5a, U+61-7a, U+b7, U+2013-2014, U+2018-2019, U+201c-201d, U+2026;
}
